
.navbar {
  height: 5rem;
  display: grid;
  place-items: center;
  background: transparent;
  margin-bottom: 1rem;
}

.nav-center {
  width: 90vw;
  max-width: 1170px
}

.nav-title {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  place-content: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: 2px solid var(--clr-grey-9);
  border-radius: 7px;
  width: 75%;
  line-height: 20px;
}

.colors {
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(223.33px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(96px, 1fr));
}

.color {
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  text-transform: none;
}

.color-percent {
  margin-bottom: 0;
  color: var(--clr-grey-1);
}

.color-value {
  color: var(--clr-grey-1);
  margin-bottom: 0;
}

@media screen and (min-width:800px) {
  h1 {
    font-size: 2.5rem;
    font-size: 4rem
  }
}

@media screen and (min-width:800px) {
  h2 {
    font-size: 2.5rem
  }

  h3 {
    font-size: 2rem
  }

  h4 {
    font-size: 1rem
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1
  }

  body {
    font-size: 1rem
  }
}

@media screen and (min-width:800px) {
  .navbar {
    background: transparent
  }

  .nav-center {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    -webkit-column-gap: 4rem;
    column-gap: 4rem
  }
}
