.navbar {
  height: 6rem;
  display: grid;
  place-items: center;
  position: sticky;
  top: 0;
  background-color: #f1f5f8;
  justify-content: center;
}

.nav-center {
  width: 90vw;
  max-width: 1170px
}

.nav-title {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  place-content: center;
}

.nav-title h3 {
  display: inline;
}

.nav-title span {
  margin-left: 1rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form i {
  margin-right: 10px;
}

input {
  margin: 0 10px 0 auto;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: 2px solid var(--clr-grey-9);
  border-radius: 7px;
  width: 75%;
  line-height: 20px;
}

.error {
  border-color: #b00020;
}

input:focus {
  outline: var(--clr-grey-);
}

.colors {
  --cb-pattern-size: 40px;
  --cb-pattern-color: rgba(0, 0, 0, 0.05);
  min-height: calc(100vh - 95px);
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(45deg, var(--cb-pattern-color) 25%, transparent 25%), linear-gradient(-45deg, var(--cb-pattern-color) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--cb-pattern-color) 75%), linear-gradient(-45deg, transparent 75%, var(--cb-pattern-color) 75%);
  background-size: var(--cb-pattern-size) var(--cb-pattern-size);
  background-position: 0 0, 0 calc(var(--cb-pattern-size) / 2), calc(var(--cb-pattern-size) / 2) calc((var(--cb-pattern-size) / 2) * -1), calc((var(--cb-pattern-size) / 2) * -1) 0;
}

.color {
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 0.9rem;
  text-transform: none;
  flex: 1 1 300px;
}

.light {
  color: #000
}

.dark {
  color: #fff
}

.color p {
  margin-bottom: 0;
}

.hex {
  font-size: 1.2rem;
}

.color-value i {
  margin-left: 3px;
  display: none;
}

.color-value:hover i {
  display: unset;
}

@media screen and (min-width:800px) {
  h1 {
    font-size: 2.5rem;
    font-size: 4rem
  }
}

@media screen and (min-width:800px) {
  h2 {
    font-size: 2.5rem
  }

  h3 {
    font-size: 2rem
  }

  h4 {
    font-size: 1rem
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1
  }

  body {
    font-size: 1rem
  }
}

@media screen and (min-width:800px) {
  .nav-center {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    -webkit-column-gap: 4rem;
    column-gap: 4rem
  }
}